.nav {
  /* margin-top: 24px; */
}

.nav-link {
  /* text-decoration: underline; */

}

.section {
  padding: 1em;
}

.logo {
  padding-left: 14px;
}

.recipe-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* .notification {
  margin-bottom: 24px;
} */

.content h3 {
  font-weight: 300;
}

.full-width {
  width: 100%;
}
